[submodule "sources/eureka"]
	path = sources/eureka
	url = https://github.com/leowajda/eureka.git
[submodule "sources/zibaldone"]
	path = sources/zibaldone
	url = https://github.com/leowajda/zibaldone.git
