---
layout: default
---

{%- assign problem = site.data.generated[page.project_key].problem_pages[page.problem_slug] -%}

{%- if problem == nil -%}
  <p>Problem data not found.</p>
{%- else -%}
  {%- assign implementation_id = page.implementation_id | default: problem.implementations.first.id -%}
  {%- assign implementation = problem.implementations | where: "id", implementation_id | first -%}
  <article class="problem-embed problem-embed--centered">
    {%- if implementation != nil -%}
      {%- include problem_viewer.html problem=problem embed=true implementation_id=implementation.id -%}
    {%- else -%}
      <p>Problem implementation data not found.</p>
    {%- endif -%}
  </article>
{%- endif -%}
