---
layout: default
---

{%- assign guide = page.template_guide | default: empty -%}
{%- assign patterns = guide.patterns | default: empty -%}
{%- assign template_panels = guide.template_panels | default: empty -%}
{%- assign default_target = page.default_template_target | default: guide.default_target | default: 'binary-search/boundary' -%}

<article
  class="template-library"
  data-template-library
  data-template-default="{{ default_target }}"
  data-template-default-language="java"
>
  {%- include page_hero_header.html
    class="template-library__header"
    title=page.title
    description=page.description
    links=page.header_links
  -%}

  <section class="template-library__content">
    {%- include template_library_navigation.html patterns=patterns -%}
    {%- include template_library_panels.html patterns=patterns template_panels=template_panels -%}
  </section>

  {%- include template_library_redirects.html redirects=guide.redirects -%}
</article>
